@import "../../style/variables.scss";

.button {
  line-height: 1.5715;
  // margin: 0 5px;
  position: relative;

  align-items: center;
  font-weight: $font-weight-normal;
  white-space: nowrap;
  text-align: center;
  border: $border-width solid $white;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);

  padding: 6px 12px;
  font-size: $font-size-normal;
  border-radius: 10px;
  &:active {
    animation: none;
  }
}

/* 按钮默认样式 */
.button-default-outlined {
  color: $dark;
  border-color: #d9d9d9;
  background: $white;
  &:hover {
    color: $-btn-primary-color;
    border-color: $-btn-primary-color;
  }
}
.button-default-container {
  color: $dark;
  border-color: $-btn-default-border;
  background: $-btn-default-bgc;
  &:hover {
    color: $-btn-primary-color;
    border-color: $-btn-primary-color;
  }
}

/* 按钮主样式 */
.button-primary-outlined {
  color: $-btn-primary-color;
  border-color: $-btn-primary-color;
  // background: #40a9ff;
  &:hover {
    color: $-btn-primary-color;
    border-color: $-btn-primary-outlined-border;
    background: $-btn-primary-outlined-bgc;
  }
}
.button-primary-container {
  color: $white;
  border-color: $-btn-primary-color;
  background: $-btn-primary-color;
  &:hover {
    border-color: $-btn-primary-container;
    background: $-btn-primary-container;
  }
}

/* secondary样式 */
.button-secondary-container {
  color: $white;
  border-color: -btn-secondary-container-border;
  background: $-btn-secondary-container-bgc;
  &:hover {
    color: $white;
    border-color: $-btn-secondary-hover-border;
    background: -btn-secondary-container-border;
  }
}
.button-secondary-outlined {
  color: $-btn-secondary-outlined;
  border-color: $-btn-secondary-outlined;
  // background: #ff8640f3;
  &:hover {
    color: $-btn-secondary-outlined-hover-color;
    border-color: $-btn-secondary-hover-border;
    background: $-btn-secondary-outlined-hover-bgc;
  }
}
.button-success-outlined {
  color: $-btn-success-color;
  border-color: $-btn-success-color;
  // background: #ff8640f3;
  &:hover {
    color: $-btn-success-outlined-color;
    border-color: $-btn-success-outlined-boder;
    background: $-btn-success-outlined-bgc;
  }
}
.button-success-container {
  color: $white;
  border-color: $-btn-success-color;
  background: $-btn-success-color;
  &:hover {
    color: $white;
    border-color: $-btn-success-container;
    background: $-btn-success-container;
  }
}
.button-error-outlined {
  color: $-btn-error-color;
  border-color: $-btn-error-color;
  // background: $white;
  &:hover {
    color: $-btn-error-outlined-color;
    border-color: $-btn-error-outlined-border;
    background: $-btn-error-outlined-bgc;
  }
}
.button-error-container {
  color: $white;
  border-color: $-btn-error-color;
  background: $-btn-error-color;
  &:hover {
    color: $white;
    border-color: $-btn-error-container-border;
    background: $-btn-error-container-bgc;
  }
}

.button-link-outlined {
  color: $-btn-primary-color;
  border: none;
  background: transparent;
}

.button-link-container {
  color: $-btn-primary-color;
  border: none;
  background: transparent;
}

.button {
  &-small {
    font-size: $font-size-small;
    padding: 1px 10px;
  }
}
.button {
  &-large {
    font-size: $font-size-large;
    padding: 10px 20px;
  }
}

.button-normal-circle {
  padding: 0;
  min-width: 46px;
  min-height: 46px;

  font-size: $font-size-normal;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 50%;
  word-break: break-all;
}
.button-small-circle {
  padding: 0;
  min-width: 26px;
  min-height: 26px;
  font-size: $font-size-small;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 50%;
  word-break: break-all;
}
.button-large-circle {
  padding: 0;
  min-width: 66px;
  min-height: 66px;
  font-size: $font-size-large;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 50%;
  word-break: break-all;
}

.button-disabled-true {
  color: $-btn-disabled-color;
  border-color: $-btn-disabled-border;
  background: $-btn-disabled-border;

  pointer-events: none;
  &:hover {
    cursor: not-allowed;
    color: $-btn-disabled-color;
    border-color: $-btn-disabled-border;
    background: $-btn-disabled-border;
  }
}
.button-anime-true {
  animation: tada 1s alternate;
}

@keyframes tada {
  from {
    transform: scale3d(1, 1, 1);
  }
  10%,
  20% {
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }
  30%,
  50%,
  70%,
  90% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }
  40%,
  60%,
  80% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }
  to {
    transform: scale3d(1, 1, 1);
  }
}
